<div class="container" *ngIf="weatherDatasInput">
  <div class="upper-data">
    <img src="../../../../../assets/sun.jpg" *ngIf="weatherDatasInput.main.temp > 15"/>
    <img src="../../../../../assets/cold1.jpg" *ngIf="weatherDatasInput.main.temp <= 15"/>

    <div class="weather-data">
      <div class="location">{{ weatherDatasInput.name }}</div>
      <div class="temperature">
        {{ weatherDatasInput.main.temp | number: "1.0-0" }}°C
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">Mais informações</div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="minTemperatureIcon"></fa-icon>
          <span>Mínima</span>
        </div>
        <div class="info-block-value">
          {{ weatherDatasInput.main.temp_min | number: "1.0-0" }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="maxTemperatureIcon"></fa-icon>
          <span>Máxima</span>
        </div>
        <div class="info-block-value">
          {{ weatherDatasInput.main.temp_max | number: "1.0-0" }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="humidityIcon"></fa-icon>
          <span>Humidade</span>
        </div>
        <div class="info-block-value">
          {{ weatherDatasInput.main.humidity }}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="windIcon"></fa-icon>
          <span>Vento</span>
        </div>
        <div class="info-block-value">
          {{ weatherDatasInput.wind.speed }} km/h
        </div>
      </div>
    </div>
  </div>
</div>
